# IDE
.DS_Store
Thumbs.db
*.code-workspace
.vscode/
.idea/

# Angular
**/node_modules/
**/dist/
**/out-tsc/
**/coverage/
**/.angular/
**/.nx/cache/
**/.eslintcache
**/*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log


# Env
.env
.env.local
.env.*.local

# .NET
.vs/
[Bb]in/
[Oo]bj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/
!packages/build/

# ReSharper / Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Отладочные/кэш-файлы
*.pdb
*.mdb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

build
__pycache__
.pytest_cache

# C extensions
*.so

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.ntvs*
*.njsproj
*.sln
*.sw?
